@model TaskViewModel

<div>
    <form method="post">
        <div class="card-body d-flex flex-column">
            <input asp-for="Title" class="card-title" value="@Model.Title"></input>
            <textarea asp-for="Description" class="card-text">@Model.Description</textarea>
            <input type="hidden" asp-for="TaskModelId" value="@Model.TaskModelId" />
            <label>Дата создания</label>
            <p>@Model.DateOfCreation</p>
            <label>Дедлайн</label>
            <p>@Model.Deadline</p>
            <label>Приортитет</label>
            <p>@Model.Priority</p>
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
            <button type="submit" asp-area="" asp-controller="Task" asp-action="Update" class="btn btn-success mt-auto">Сохранить</button>
            <a asp-area="" asp-controller="Task" asp-action="Delete" asp-route-id="@Model.TaskModelId" class="btn btn-danger mt-auto">Удалить</a>
        </div>
    </form>
</div>