@model NoteViewModel

<div>
    <form method="post">
        <div class="card-body d-flex flex-column">
            <input asp-for="Title" class="card-title" value="@Model.Title"></input>
            <textarea asp-for="Description" class="card-text">@Model.Description</textarea>
            <input type="hidden" asp-for="NoteId" value="@Model.NoteId"/>
            <input type="hidden" asp-for="UserId" value="@Model.UserId"/>
            <button type="submit" asp-area="" asp-controller="Home" asp-action="Update" class="btn btn-success mt-auto">Сохранить</button>
            <a asp-area="" asp-controller="Home" asp-action="Delete" asp-route-id="@Model.NoteId" class="btn btn-danger mt-auto">Удалить</a>
        </div>
    </form>
</div>