@model TaskViewModel

@{
    string cardClass = Model.Status switch
    {
        "Pending" => "bg-warning",      // Ожидание
        "Planned" => "bg-info",          // В плане
        "InProgress" => "bg-primary",    // В работе
        "InTesting" => "bg-secondary",   // В тестировании
        "Done" => "bg-success",          // Выполнено
        "Postponed" => "bg-light",       // Отложена
        "Canceled" => "bg-danger",       // Отменена
        _ => "bg-light"                  // По умолчанию
    };
}

<div class="col-4 m-1  taskCardParam @cardClass">
    <div class="card-body d-flex flex-column">
        <a asp-area="" asp-controller="Task" asp-action="task" asp-route-id="@Model.TaskModelId"><h5 class="card-title">@Model.Title</h5></a>
        <hr />
        <p class="card-text">@Model.Description</p>

        <div class="dropdown">  @*  Смена статуса *@
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <p>Сменить статус</p>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" asp-area="" asp-controller="Task" asp-action="EditStatus" asp-route-newStatus="Pending" asp-route-taskId="@Model.TaskModelId">В ожидании</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Task" asp-action="EditStatus" asp-route-newStatus="Planned" asp-route-taskId="@Model.TaskModelId">В плане</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Task" asp-action="EditStatus" asp-route-newStatus="InProgress" asp-route-taskId="@Model.TaskModelId">В работе</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Task" asp-action="EditStatus" asp-route-newStatus="InTesting" asp-route-taskId="@Model.TaskModelId">В тестировании</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Task" asp-action="EditStatus" asp-route-newStatus="Done" asp-route-taskId="@Model.TaskModelId">Выполнено</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Task" asp-action="EditStatus" asp-route-newStatus="Postponed" asp-route-taskId="@Model.TaskModelId">Отложена</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Task" asp-action="EditStatus" asp-route-newStatus="Canceled" asp-route-taskId="@Model.TaskModelId">Отменена</a></li>
            </ul>
        </div>
    </div>
</div>